.dark .v-popper--theme-dropdown .v-popper__inner {
  color: theme('colors.gray.200');
  background-color: theme('colors.gray.900');
  border-color: theme('colors.gray.800');
}

.dark .v-popper__popper .v-popper__arrow-outer {
  border-color: theme('colors.gray.800');
}

.dark .v-popper__popper .v-popper__arrow-inner {
  border-color: theme('colors.gray.900');
}

:root {
  --vc-font-family: -apple-system, "Inter", 'Arial', sans-serif;
}
